{{!< main}}
    <!-- Navigation bar at top of webpage -->
    
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Dr. {{clinicianItem.first_name}} {{clinicianItem.last_name}} <img src="/chevron-down.png"></button>
        <div class="dropdown-content">
            <a href="#">Patient comments</a>
            <a href="#">Sign out</a>
        </div>
    </div>
    <div class="icons">
        <a href="#"><img src="/house-solid.svg" id="icon" class="change-color"></a>
        <a href="#"><img src="/circle-half-stroke-solid.svg" id="icon" class="change-color"></a>
        <a><img src="/Line.png" height="28"></a>
        <a href="#"><img src="/circle-user-regular.svg" id="icon" class="change-color"></a>
    </div>
</div>

<ul class="breadcrumb">
  <li>Your Patient List</li>
</ul>

<div class="sections">

     <!-- Each section corresponds to each segment of the patient information in the webpage -->
    <section class="patientList">
        <div class="sticky-bar">
            <button class="orange-button" onclick="location.href='/clinician/{{clinicianItem._id}}/register'">Add New Patient</button>
            <div class="blue-button" id="sort">
                <button class="dropbtn">Sort by <img src="/chevron-down.png"></button>
                <div class="sort-by">
                    <a href="#">Name ascending</a>
                    <a href="#">Name descending</a>
                </div>
            </div>
            <div class="search-bar">
                <label for="searchbar"><img src="/magnifying-glass-solid.svg" class="change-color"></label>
                <input type="text" placeholder="Search" name="search">
            </div>
        </div>

        <!-- Iterate through testData to correctly load patient list of clinician -->
        <div class="scroll">
            {{#if testData}}
                {{#each testData}}
                {{this}}
                    <button class="entry">
                        <div class="col" id="overflow"><span class="attribute">Patient</span><br><strong>{{this.[0].first_name}} {{this.[0].last_name}}</strong></div>
                            
                            <!-- Checks if data exists for that day -->
                            {{#if (filledToday this.[1].glucose_data)}}

                                <!-- Checks if data should be highlighted because it exceeds threshold -->
                                {{#if (exceedThreshold this.[2] this.[1].glucose_data) }}
                                    <div class="col"><span class="attribute">Blood Glucose Level</span><br><strong id="threshold-check">{{this.[1].glucose_data.data_entry}} nmol/L</strong></div>
                                {{else}}
                                    <div class="col"><span class="attribute">Blood Glucose Level</span><br><strong>{{this.[1].glucose_data.data_entry}} nmol/L</strong></div>
                                {{/if}}
                                
                            {{else}}
                                <div class="col"><span class="attribute">Blood Glucose Level</span><br><strong>Not filled</strong></div>
                            {{/if}}

                            {{#if (filledToday this.[1].weight_data)}}
                                {{#if (exceedThreshold this.[2] this.[1].weight_data) }}
                                    <div class="col"><span class="attribute">Weight</span><br><strong id="threshold-check">{{this.[1].weight_data.data_entry}} kg</strong></div>
                                {{else}}
                                    <div class="col"><span class="attribute">Weight</span><br><strong>{{this.[1].weight_data.data_entry}} kg</strong></div>
                                {{/if}}
                            {{else}}
                                <div class="col"><span class="attribute">Weight</span><br><strong>Not filled</strong></div>
                            {{/if}}

                            {{#if (filledToday this.[1].insulin_data)}}
                                {{#if (exceedThreshold this.[2] this.[1].insulin_data) }}
                                     <div class="col"><span class="attribute">Dose of Insulin</span><br><strong id="threshold-check">{{this.[1].insulin_data.data_entry}} dose</strong></div>
                                {{else}}
                                    <div class="col"><span class="attribute">Dose of Insulin</span><br><strong>{{this.[1].insulin_data.data_entry}} dose</strong></div>
                                {{/if}}
                            {{else}}
                                    <div class="col"><span class="attribute">Dose of Insulin</span><br><strong>Not filled</strong></div>
                            {{/if}}


                            {{#if (filledToday this.[1].steps_data)}}
                                {{#if (exceedThreshold this.[2] this.[1].steps_data) }}
                                    <div class="col"><span class="attribute">Exercise</span><br><strong id="threshold-check">{{this.[1].steps_data.data_entry}} steps</strong></div>
                                {{else}}
                                    <div class="col"><span class="attribute">Exercise</span><br><strong>{{this.[1].steps_data.data_entry}} steps</strong></div>
                                {{/if}}
                            {{else}}
                                <div class="col"><span class="attribute">Exercise</span><br><strong>Not filled</strong></div>
                            {{/if}}

                    </button>
                {{/each}}
            {{else}}
                    <br>
                    <p>You have no patients, please register a new patient.</p>
            {{/if}}
        </div>
    </section>

</div>
