{{!< patientLayout}}

{{! displays today's date information and patient's first name}}
<div class="dashboardInformation">
    <h2 id="date">
        {{date.[0].value}}, {{date.[2].value}} {{date.[4].value}} {{date.[6].value}}
    </h2>
</div>

{{#each board}}
   <p style="color: black"> Rank: {{this.[0]}}, Screen name: {{this.[1]}}, Score: {{this.[2]}} </p>
{{/each}}

