<!-- Navigation bar at top of webpage -->
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Dr. Alice Brown <img src="/chevron-down.png"></button>
        <div class="dropdown-content">
            <a href="#">Patient comments</a>
            <form>
                <button id="sign-out">Sign out</button>
            </form>
        </div>
    </div>
    <div class="icons">
        <a href="#"><img src="/house-solid.svg" id="icon" class="change-color"></a>
        <a onclick="toggleDark()"><img src="/circle-half-stroke-solid.svg" id="icon" class="change-color"></a>
        <a><img src="/Line.png" id="nav-line"></a>
        <a><img src="/circle-user-regular.svg" id="icon" class="change-color"></a>
    </div>
</div>

{{#with oneItem}}

<ul class="breadcrumb">
  <li><a href="#">Patient list</a></li>
  <li>{{this.first_name}} {{this.last_name}}</li>
</ul>

<div class="sections">
    
     <!-- Each section corresponds to each segment of the patient information in the webpage -->
    <section class="profile">
        <div class="col">
            <div><span class="attribute">Sex</span><br><strong>{{this.sex}}</strong></div>
            <div><span class="attribute"><br>Occupation</span><br><strong>{{this.occupation}}</strong></div>
        </div>
        <div class="col">
            <div><span class="attribute">Date of birth</span><br><strong>{{this.dob}}</strong></div>
            <div><span class="attribute"><br>Insurance</span><br><strong>{{this.insurance}}</strong></div>
        </div>
        <div class="col">
            <div><span class="attribute">Registered on</span><br><strong>{{this.regisDate}}</strong></div>
            <div><span class="attribute"><br>Address</span><br><strong>{{this.address}}</strong></div>
        </div>
        <div class="col">
            <div><span class="attribute">Phone number</span><br><strong>{{this.phone}}</strong></div>
            <div><span class="attribute"><br>Postcode</span><br><strong>{{this.postcode}}</strong></div>
        </div>
        <div class="col">
            <div><span class="attribute">Marital state</span><br><strong>{{this.marital}}</strong></div>
            <div><span class="attribute"><br>Email</span><br><strong>{{this.email}}</strong></div>
        </div>
    </section>

    <section class="buttons">
        <button class="view" id="clinician-notes"> 
            <h3>View Clinician Notes</h3>
        </button>
        <button class="view" id="send-message"> 
            <h3>Send Message to Patient</h3>
        </button>
    </section>

    <section class="segment">
        <div class="sticky-bar">
            <h3>Patient logs</h3>
        </div>
        <div class="date">
            <h4><strong>20</strong><br>MON</h4>
            <div class="entries">
                <button class="accordion" id="glucose">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="panel" id="glucose">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

                <button class="accordion" id="weight">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="panel" id="weight">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

                <button class="accordion" id="exercise">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="panel" id="exercise">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

                <button class="accordion" id="insulin">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="panel" id="insulin">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

            </div>
            <h4><strong>21</strong><br>MON</h4>
            <div class="entries">
                <button class="accordion" id="glucose">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="accordion panel" id="glucose">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

                <button class="accordion" id="weight">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="panel" id="weight">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

                <button class="accordion" id="exercise">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="panel" id="exercise">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

                <button class="accordion" id="insulin">
                    <div class="data" id="overflow">
                        <span class="attribute">Date/time</span><br><strong>20 March, 11 am</strong>
                    </div>
                    <div class="data" id="overflow">
                        <span class="attribute">Blood glucose level</span><br><strong>100 nmol/L</strong>
                    </div>
                    <div class="data">
                        <a href="#"><img src="/chevron-down-solid.svg"></a>
                    </div>
                </button>
                <div class="panel" id="insulin">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></p>
                </div>

            </div>
        </div>
    </section>

    <section class="segment" id="thresholds">
        <h3>Patient thresholds</h3>
        <div class="threshold">
            <h4 id="glucose_text">Blood glucose level</h4>
            <div class="container" id="glucose">
                <div class="upper">
                    <span class="attribute">Upper bound</span><br><strong>180 mol/L</strong>
                </div>
                <div class="lower">
                    <span class="attribute">Lower bound</span><br><strong>110 mol/L</strong>
                </div>
            </div>
        </div>
        
        <div class="threshold">
            <h4 id="weight_text">Weight</h4>
            <div class="container" id="weight">
                <div class="upper">
                    <span class="attribute">Upper bound</span><br><strong>70 kg</strong>
                </div>
                <div class="lower">
                    <span class="attribute">Lower bound</span><br><strong>60 kg</strong>
                </div>
            </div>
        </div>
        
        <div class="threshold">
            <h4 id="insulin_text">Dose of insulin</h4>
            <div class="container" id="insulin">
                <div class="upper">
                    <span class="attribute">Upper bound</span><br><strong>1 dose</strong>
                </div>
                <div class="lower">
                    <span class="attribute">Lower bound</span><br><strong>0 dose</strong>
                </div>
            </div>
        </div>
        
        <div class="threshold">
            <h4 id="exercise_text">Exercise</h4>
            <div class="container" id="exercise">
                <div class="upper">
                    <span class="attribute">Upper bound</span><br><strong>20,000 steps</strong>
                </div>
                <div class="lower">
                    <span class="attribute">Lower bound</span><br><strong>10,000 steps</strong>
                </div>
            </div>
        </div>
        
        <button><a href="#">Edit</a></button>
        
    </section>

    <section class="segment" id="graphs">
        <div class="row">
            <div class="card" id="glucose">
            </div>
            <div class="card" id="right-weight">
            </div>
        </div>
        <div class="row">
            <div class="card" id="exercise">
            </div>
            <div class="card" id="right-insulin">
            </div>
        </div>
    </section >

 </div>
 
{{/with}}
