<h1>Displaying one item</h1>
{{#with oneItem}}
<ul>
    <li>{{this._id}}</li>
<<<<<<< HEAD
    <li>{{this.first_name}}</li>
    <li>{{this.last_name}} </li>
<<<<<<< HEAD
    <li>{{this.email}} </li>
    <li>{{this.sex}} </li>
    <li>{{this.dob}} </li>
    <li>{{this.phone}} </li>
    <li>{{this.occupation}} </li>
    <li>{{this.address}} </li>
    <li>{{this.postcode}} </li>
    <li>{{this.input_data}} </li>

=======
    <li>{{this.givenName}}</li>
    <li>{{this.familyName}} </li>
>>>>>>> ecfd7a40401f8f5a7bc3089d6a57c439b6ea339c
=======
>>>>>>> parent of 80d8163 (update patient schema and register patient function)
</ul>
{{/with}}
