<h1>Displaying one item</h1>
{{#with oneItem}}
<ul>
    <li>{{this._id}}</li>
    <li>{{this.first_name}}</li>
    <li>{{this.last_name}}</li>
    <li>{{this.dob}}</li>
    <li>{{this.address}}</li>
    <li>{{this.screen_name}}</li>
    <li>{{this.email}}</li>
    <li>{{this.short_bio}}</li>
</ul>


<form action="/patient/{{this._id}}" method="POST">
    <input type="text" placeholder="Enter data" name="input_data" />
    <input type="text" placeholder="Comment" name="comment" />
    <input type="submit" />
</form>
{{/with}}
