<h1>Displaying one item</h1>
         
{{#with oneItem}}
<ul>
    <li>{{this._id}}</li>
    <li>{{this.first_name}}</li>
    <li>{{this.last_name}} </li>
    <li>{{this.email}} </li>
    <li>{{this.sex}} </li>
    <li>{{this.dob}} </li>
    <li>{{this.phone}} </li>
    <li>{{this.occupation}} </li>
    <li>{{this.address}} </li>
    <li>{{this.postcode}} </li>
    <li>{{this.input_data}} </li>
</ul>
{{/with}}
