{{!< patientLayout}}
{{!  }}
{{! displays today's date information and patient's first name }}

<!-- Splash screen -->
<div class="intro">
    <h1 class="logo-header">
        <img class="dextrack-logo" src="/dextrack_logo.png">
    </h1>
</div>
    


<div class="dashboardInformation">
    {{! Day, Date, Month, Year }}
    <h2 id="date">
        {{date.[0].value}}, {{date.[2].value}} {{date.[4].value}} {{date.[6].value}}
    </h2>
    <h1 id ="welcome">Hi, {{patient.first_name}} </h1>

<!-- Engagement Score -->
    <div class="engagementContainer">
        
        <div class="slides fade" id="engagementSlide">
            <div class="engagementScore">
                {{#if (getBadge score)}}
                <img src="/Upper-badge.png" id="badgeImage">
                <h2 id="engagementScoreValue">{{score}}</h2>
                {{else}}
                <img src="/Lower-badge.png" id="badgeImage">
                <h2 id="engagementScoreValue">{{score}}</h2>
                {{/if}}
            </div>

            <div class="engagementDescription"> 
                <h2 id="engagementScoreText">Engagement Score</h2>
                <p id="engementScoreDescription">The percentage of data entries that where carried out as requested by the patient's clinician</p>
            </div>

        </div>

        <div class="slides fade" id="supportSlide">
            <div class="clinicianImage">
                <img src="/clinician-01.png" id="clinicianVectorImage">
            </div>
            <div class="clinicianMessage">
                <h2 id="yourClinicianSaysText">Your Clinician Says</h2>
                <h2 id="clinicianMessageText">
                    "
                    {{#with (checkNote note)}}
                        {{this}}
                    {{/with}}
                    "
                </h2>
            </div>
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>

    <div class="inputContainer">
        
        {{! handles glucose data input of a patient}}
        <div class="Glucose">
                {{#if (isRequired patientData.glucose_data patient.threshold_list "glucose")}} 
                    <a href="/patient/insertGlucose"> <img id="glucoseEmpty" src="/Glucose_Required.png"></a>
                {{else if (filledToday patientData.glucose_data)}}
                    <img id="glucoseFilled" src="/Glucose_Filled.png">
                    <h2>{{patientData.glucose_data.data_entry}}</h2>
                
                {{else}}
                    {{!-- <a href="/patient/{{patient._id}}/insertGlucose"> <img id="glucoseEmpty" src="/Glucose_Empty.png"></a> --}}
                   <img id="glucoseEmpty" src="/Glucose_Empty.png">
                {{/if}}
        </div>

        {{! handles weight input of a patient}}
        <div class="Weight">
                {{#if (isRequired patientData.weight_data patient.threshold_list "weight")}}
                    <a href="/patient/insertWeight"> <img id="weightEmpty" src="/Weight_Required.png"></a>
                {{else if (filledToday patientData.weight_data)}}
                    <img id="weightFilled" src="/Weight_Filled.png">
                    <h2>{{patientData.weight_data.data_entry}}</h2>
                {{else}}
                    {{!-- <a href="/patient/{{patient._id}}/insertWeight"> <img id="weightEmpty" src="/Weight_Empty.png"></a> --}}
                    <img id="weightEmpty" src="/Weight_Empty.png">
                {{/if}}
        </div>

        {{! handles insulin input of a patient}}
        <div class="Insulin">
                {{#if (isRequired patientData.insulin_data patient.threshold_list "insulin")}}
                    <a href="/patient/insertInsulin"> <img id="insulinEmpty" src="/Insulin_Required.png"></a>
                {{else if (filledToday patientData.insulin_data)}}
                    <img id="insulinFilled" src="/Insulin_Filled.png">
                    <h2>{{patientData.insulin_data.data_entry}}</h2>
                {{else}}
                    {{!-- <a href="/patient/{{patient._id}}/insertInsulin"> <img id="insulinEmpty" src="/Insulin_Empty.png"></a> --}}
                    <img id="insulinEmpty" src="/Insulin_Empty.png">
                {{/if}}
        </div>

        {{! handles step count input of a patient}}
        <div class="Exercise">
                {{#if (isRequired patientData.steps_data patient.threshold_list "steps")}}
                    <a href="/patient/insertSteps"> <img id="stepsRequired" src="/Exercise_Required.png"></a>
                {{else if (filledToday patientData.steps_data) }}
                    <img id="stepsFilled" src="/Exercise_Filled.png">
                    <h2>{{patientData.steps_data.data_entry}}</h2>

                {{else}}
                    {{!-- <a href="/patient/{{patient._id}}/insertSteps"> <img id="stepsEmpty" src="/Exercise_Empty.png"></a> --}}
                    <img id="stepsEmpty" src="/Exercise_Empty.png">
                {{/if}}
           
        </div>

    </div>
   
