{{!< patientLayout}}

{{! displays today's date information and patient's first name}}
<div class="dashboardInformation">
    <h2 id="date">
        {{date.[0].value}}, {{date.[2].value}} {{date.[4].value}} {{date.[6].value}}
    </h2>
    <h1 id ="welcome">Hi, {{patient.first_name}}</h1>
</div>

{{#with patient}}

    <div class="profile">
    <p>Given Name: {{first_name}}</p>
    <p>Family Name: {{last_name}}</p>
    <p>Username: {{username}}</p>
    <p>Screen Name: {{screen_name}}</p>
    {{#with (showDate dob)}}
        <p>DOB: {{this.[2].value}} {{this.[4].value}} {{this.[6].value}} </p>
    {{/with}}
    <p>Email: {{email}}</p>
    <p>Profession: {{occupation}}</p>
    <p>Address: {{address}} VIC {{postcode}}</p>
    <p>Contact Number: {{phone}}</p>
    

    <br>
        <form method="POST">
            <input type="text" placeholder="Update screen name..." name="screen_name"></input>
            <input type="text" placeholder="Change password..." name="password"></input>
            <input type="submit"  value="Click to Submit!"></input> 
        </form>

        
    </div>

   

{{/with}}

{{#each flash}}
<p class="alert" style="color: black">{{this.msg}}</p>
{{/each}}

