{{!< patientLayout}}

{{! displays today's date information and patient's first name}}
<div class="dashboardInformation">
    <h2 id="date">
        {{date.[0].value}}, {{date.[2].value}} {{date.[4].value}} {{date.[6].value}}
    </h2>
    <h1 id ="welcome">Hi, {{patient.first_name}}</h1>
</div>
{{#each input}}

        {{#with (showDate this.set_date)}}
            <p style="color: black">
                {{this.[2].value}} 
                <br>
                {{this.[4].value}}
                </p>
        {{/with}}

        {{#with (getLogs this)}}
    
            {{#if (emptyToday this.empty)}}

                <p style="color: black">no inputs for that date </p>

            {{else}}
                {{#each this.arr}}

                    {{#with (showType this)}}
                    <div class ="symbol_mini"> 
                        <img id="element" src={{this}}>
                    </div>
                    {{/with}}
                    <p style="color: black">
                        type: {{this.[0]}}, 
                        entry: {{this.[1]}}, 
                        {{#with (showDate this.[2])}}
                            time: {{this.[8].value}}:{{this.[10].value}} 
                        {{/with}}
                    </p>
                    <br>
                {{/each}}
                
            {{/if}}

            </p>
        {{/with}}

{{/each}}



    