{{!< patientLayout}}

{{! displays today's date information and patient's first name}}
<div class="dashboardInformation">
    <h2 id="date">
        {{date.[0].value}}, {{date.[2].value}} {{date.[4].value}} {{date.[6].value}}
    </h2>
    <h1 id ="welcome">Hi, {{patient.first_name}}</h1>
</div>

<div class="logContainer">
    
{{#each input}}
        <div class="singleLog">
            <div clas="logEntry">
        {{#with (showDate this.set_date)}}
                <h2 id = "logDate">
                {{this.[2].value}}, {{this.[4].value}}
                </h2>
        {{/with}}

            
        {{#with (getLogs this)}}
            
            {{#if (emptyToday this.empty)}}
            <div class="logBox">
                <h3 id="logData">no inputs for that date </h3>
                </div>
            {{else}}
            
                {{#each this.arr}}
                    <div class="logBox">

                        {{#with (showDate this.[2])}}
                            <h3 id="logTime"> {{this.[8].value}}:{{this.[10].value}} </h3>
                        {{/with}}

                    {{#with (showType this)}}
                        <img id="dataImage" src={{link}}>
                        <h3 id="logData"> {{data}} {{unit}}</h3>
                        {{#if comment}}
                            <h3 id="logData"> {{comment}}</h3>
                        {{else}}
                            <h3 id="logData"> no comments detected...</h3>
                        {{/if}}
                    {{/with}}
                        </div>  
                {{/each}}
            {{/if}}
            
        {{/with}}
              
        </div>
    </div>
{{/each}}

</div>


    